CTYPE html>

<tml lang="en">

<head>

	  <title>The red Page</title>

	    <meta charset="utf-8" />

</head>

<body>

	  <h1 style="color: #F60">The Orange Page</h1>

	    <p>Orange is so great it has a

	     <span style="color: #F90">fruit</span> named after it.</p>
	    <h2>Navigation</h2>

	    <ul>

		      <li style="color: #F90">

			          <a href="orange.html">The Orange Page</a>

				    </li>

				      <li style="color: #00F">

					          <a href="blue.html">The Blue Page</a>
				      </li>

	    </ul>
	    <p><a href="index.html">Return to home page</a></p>
</body>

</html>

